mixin tabs(tab_x, tab_name, tab_content_x)
	li 
		input.paragraf-menu(id=tab_x name="tab" type="radio" checked)
		label(for=tab_x)
			| #{tab_name}
		.tab-content(id=tab_content_x role="tabpanel" aria-labelledby="description" aria-hidden="false")
			.wrap_unit_download
				block

//- var bg_img= '../img/bg_img.png';
mixin unit_download(bg_img, link='#')
	.wrap_file_list
		.file_unit(style="background: url(" + bg_img + ");")
			.shadow_box
				span Лабораторная работа №1
				|
				|
			.file_description Интерфейс программы Компас 3D. Компактная панель. 
			.ul_buttons
				ul
					li.open
						a(href=link type="application/pdf" target="_blank")
							| Открыть
					li.download
						a(href=link type="application/pdf" download)
							| Скачать